
.details-modal {
    position:relative;
    min-width: 200px;
    max-width: 700px;
    min-height: 200px;
    background-color: var(--clr1);
    padding: 1em;
    border: 2em solid var(--clr2);
    border-radius: 1em;
    flex-basis: 50%;
    margin:2em 0;
    margin-inline-start: 1em;
}

.details-modal h1 {
    font-size: 2.5em;
    margin-bottom: 0.1em;
}

.details-modal h3 {
    margin-bottom: 0.5em;
}

.details-modal p {
    margin-bottom: 0.5em;
}

.details-modal p>span {
    font-weight: 600;
    padding-inline-start: 0.5em;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.read-more {
    cursor: pointer;
}

.X-modal {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
    text-decoration: none;
}

.details-modal img {
    width: 150px;
    display: block;
    margin: 0 auto;
}