.book-review{
    height: inherit;
    flex-basis:50%;
}
.review-area{
    min-height: 6em;
    width: 20em;
    margin-bottom:1em;
    resize: none;
}
.key{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 600;
}
.add-book{
    margin-inline-start: 3em;
}
.review{
    margin:1em 0;
}
.review-list{
    list-style-type: none;
}
.rate-span{
    margin-inline-start: 2em;
}
.add-book button{
    background-color: var(--clr-mail-btn);
    color:var(--clr1);
    padding:0.3em 0.5em;
    border-radius: 0.5em;
}