.note-card img {
    height: 6em;
}

.notes-list ul {
    list-style: none;
    margin: 0;
    padding: .8em;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.note-card {
    padding: 10px;
    margin: 3em;
    width: 19em;
    /* height: 150px; */
    background-color: rgb(154, 172, 221);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.note-card h2 {
    padding: 0.5em;
}

.note-card span {
    padding: 0.6em;
    font-size: x-large;
}

.note-card p {
    font-size: x-large;
    padding: 1em;
}

.todo-note {
    display: flex;
    flex-direction: column;
    text-align: lef;
}

.type-new-todo {
    background: center;
    border-radius: 2em;
    padding: 0.2em;
    margin-top: 0.5em;
}

.txt-note {
    display: flex;
    flex-direction: column;
}