/* ////////// */

.mail-app {
    background-color: var(--clr1);
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif
}

.mail-main-container {
    min-height: calc(95vh - 11em);
}

.mail-side-filter p {
    cursor: pointer;
}

.sub-1-mails {
    height: 100%;
}

.sub-2-mails {
    height: inherit;
}

.compose-btn {
    background-color: var(--clr1);
    padding: 0.8em 1.3em;
    border-radius: 2em;
    margin-inline-start: 0.5em;
    margin-inline-end: 1.5em;
    margin-bottom: 0.5em;
    box-shadow: 0px 2px 6px 0px black;
    cursor: pointer;
}

.sort-container {
    position: absolute;
    top: 6em;
    right: 1em;
    cursor: pointer;
}

.sort-container img {
    width: 1em;
}

.sort-values-container {
    display: none;
    position: absolute;
    left: -1em;
    background-color: var(--clr1);
    border: 1px solid var(--clr-mail-border);
}

.show-content .sort-values-container {
    display: block;
    z-index: 1;
}

.sort-values-container p {
    cursor: pointer;
    padding: 0.5em 0.3;
    border: 1px solid var(--clr-mail-border);
}