.mail-preview {
    outline: 1px solid var(--clr-mail-prev);
    background-color: var(--clr1);
    font-size: 1.5em;
    padding: 0.5em 0;
    padding-inline-start: 0.5em;
    transition: 0.15s;
    flex-direction: column;
}

.mail-preview:hover {
    transform: scaleY(1.1);
}

.t-name,
.t-subject {
    font-weight: 700;
    overflow: hidden;
}

.read {
    font-weight: 400;
}

.mail-read {
    background-color: var(--clr-mail-read);
    outline: 1px solid var(--clr1);
}

.t-star {
    width: 100%;
    text-align: end;
    font-size: large;
    padding-inline-end: 1em;
}

.t-star img {
    width: 1.5em;
}

.t-name {
    width: 15%;
}

.t-subject {
    width: 100%;
}

.t-date {
    width: 100%;
    padding-inline-start: 0.3em ;
}

.t-btns {
    flex-basis: 15%;
}

.t-btns img {
    width: 1em;
}

.t-btns span.act-span {
    margin-inline-end: 0.2em;
    transition: 0.2s;
}

.t-btns span.act-span:hover {
    background-color: var(--clr2);
    border-radius: 50%;
    padding: 0.3em 0.4em;
    color: var(--clr1);
}

@media (min-width:870px) {
    .mail-preview {
        font-size: 1.3em;
        flex-direction: row;
        align-items: center;
    }

    .t-star {
        width: 10%;
        text-align: center;
        font-size: large;
        padding-inline-end: 0;
    }

    .t-subject {
        width: 50%;
    }

    .t-date {
        width: 10%;
    }

    .read {
        font-weight: 400;
    }

    .mail-read {
        background-color: var(--clr-mail-read);
        outline: 1px solid var(--clr1);
    }
}