.mail-side-filter {
    color: #202124;
    border-right: 1px solid var(--clr-mail-border);
    height: 100%;
    font-size: 1.2em;
}

.selected {
    background-color: var(--clr-side-filter-red);
    color: var(--clr-side-filter-font-red);
}

.mail-side-filter p{
    border:1px solid var(--clr-mail-border);
    padding:0.5em 0;
    padding-inline-start: 0.5em;
}
.mail-side-filter p:first-of-type{
    border-top:none;
}
.unread-count{
    padding: 0.3em 0.6em;
    border-radius: 50%;
    font-size:0.8em;
    background-color:var(--clr-side-filter-red);
}