.mail-preview{
    border:1px solid #eceff1;
    background-color: #ffffff;
    font-size:1.5em;
    padding:0.5em 0;
}
.t-name, .t-subject{
    font-weight: 700;
}
.read{
    font-weight: 400;
    background-color: #f5f7f7;
}

.t-star{
    width:10%;
    text-align: center;
    font-size:large;
}

.t-star img{
    width:20%;
}

.t-name{
    width:15%;
}

.t-subject{
    width:50%;
}

.t-date{
    width:10%;
}

.t-btns{
    flex-basis:10%;
}
.t-btns img{
    width:30px;
}

.t-btns span{
    margin-inline-end: 0.2em;
}