header {
    background-color: var(--clr1);
    color: var(--clr2);
    border-bottom: 1px solid var(--clr-mail-border);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav-list li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 4em;
    padding: 0 0.5em;
    color: var(--clr2);
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.logo-helper {
    font-size: 2em;
}

.nav-list li a.router-link-exact-active {
    background-color: var(--clr2);
    color: var(--clr1);
}