.home-page {
    /* background-image: url('../../img/homePage2.jpg'); */
    /* background-image: url('../../img/appsus.jpeg'); */
    background-image: url('../../img/appsus2.jpeg');

    /* background-size: cover; */
}

.welcome-msg {
    background-color: var(--clr3);
    width: fit-content;
    margin: auto;
    padding: 4em;
    border-radius: 1em;
    text-align: center;
}

.welcome-msg p:first-of-type {
    font-size: 4em;
    margin-bottom: 1em;
}