.home-page {
    background-image: url('../../img/appsus2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-msg {
    background-color: var(--clr3);
    width: fit-content;
    margin: auto;
    padding: 4em;
    border-radius: 1em;
    text-align: center;
}

.welcome-msg p:first-of-type {
    font-size: 4em;
    margin-bottom: 1em;
}

.home-page .route-div{
    padding:1em;
    background-color: var(--clr2);
    margin-bottom:0.5em;
    border-radius: 0.5em;
}

.home-page a {
    text-decoration: none;
    color:var(--clr1);
}