.user-msg{
    position: fixed;
    top: 50px;
    right: 10px;
    padding: 10px;
    border-radius: 1em;
}

.success {
    background-color: greenyellow;
}

.error{
    background-color: red;
    color: white;
}