/*HEADER*/

.welcome {

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2em;
    background-color: var(--clr6);
    color: rgb(175, 16, 109);
}

.filter-add-note {
    display: flex;
    justify-content: space-between;
}

.main-app-container button {
    cursor: pointer;
    border-radius: 0.4em;
    background-color: azure;
    color: crimson;
    font-size: medium;
    border-color: chocolate;
}

.main-app-container .pointer {
    cursor: pointer;
}

.main-app-container input {
    border-radius: 0.4em;
    border-color: bisque;
    cursor: pointer;
}

.main-app-container {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    box-sizing: content-box;
}